/*  your css code here. If applicable */
.box {
	width:100px;
	height:100px;
	background-color:red;
	animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }